.message__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.message {
  display: flex;
  margin: 0.5rem;
  background-color: white;
  padding: 1rem;
  max-width: 100%;
  flex-direction: row;
}
