.detail__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: 2px solid #295885;
  margin: 1rem;
  border-radius: 5px;
}
.detail__img {
  margin-bottom: 1rem;
}
.detail__price {
  color: #295885;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 20px;
}
.detail__description {
  letter-spacing: 1px;
}
.place__details--link {
  text-decoration: none;
  color: black;
}
.search__dropdown {
  border: 2px solid black;
}
.open {
  display: block;
}
.closed {
  display: none;
}
